/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
    /* Pour éviter la barre de défilement horizontale */
    background-color: #ffffff;
    /* Le dégradé va du bas (#3498db, bleu) vers le haut (#ffffff, blanc) */
}

/* Autres styles pour le contenu de la page */


/* Autres styles pour vos éléments de contenu */

header {
    background-color: #90B6EF;
    position: fixed;
    border-radius: 0px 0px 30px 30px;
    top: 0;
    left: 0;
    width: 100%;
    /* Prendre toute la largeur de la fenêtre */
    z-index: 100;
    /* Assurez-vous qu'il est au-dessus des autres éléments */
}

.header {
    position: relative;
    /* Utiliser Flexbox pour aligner les éléments horizontalement */
    justify-content: center;
    /* Centrer horizontalement les éléments à l'intérieur du header */
    align-items: center;
    /* Centrer verticalement les éléments à l'intérieur du header */
    height: 70px;
    /* Hauteur du header (ajustez selon vos besoins) */
    box-shadow: 0px 39px 35px -33px rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 30px 30px;
    background: #90B6EF;
}

.btnA {

    color: #7AAAEB;
    font-size: 30px;
    background-color: #00000000;
    border: none;
}

.btnA:hover {
    color: #7AAAEB;
    font-size: 22px;
    border-color: #000;
}

.premiere {
    position: relative;
    background-image: url(/Couple-Famillewebsite/Image/couplevelo.jpg);
    background-size: cover;
    /* Redimensionne l'image pour remplir entièrement la div */
    background-repeat: no-repeat;
    background-position: center center;
    /* Centre l'image horizontalement et verticalement */
    background-attachment: fixed;
    /* Fixe l'image en arrière-plan pour éviter le défilement */
    height: 400px;
    margin-bottom: 0;

}

.contact-container p {
    text-align: center;
}

.contact-container img {
    width: 240px;
}

.charte-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    left: 100px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.charte-container>img {
    width: 36px;
    height: 36px;
}

.premiere::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* Couleur de fond sombre semi-transparente */
}

.Accueil {

    text-align: center;
    margin-top: 120px;
    color: #000000;
}

.Accueil>p {
    position: relative;
    z-index: 1;
    margin-top: 12px;
    font-family: 'Sacramento', cursive;
    color: #ffffff;
    font-size: 24px;
}

.apropo {
    text-align: center;
    margin-top: 100px;
    color: #000000;
}

.apropo>p {

    font-size: 20px;
    text-align: center;
    margin: 25px 80px 0px 80px;
    color: #000;
}

.logocoupleetfamille {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.Decouvrir {
    display: flex;
    text-align: center;
    margin-top: 100px;
    color: #000000;
    flex-direction: row;
}

#aloevera {

    width: 50vw;
    /* 50% de la largeur de l'écran */
    height: 150vh;
    /* 100% de la hauteur de l'écran */
    background-image: url(/Chemin/vers/votre/image.jpg);
    /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.liste {
    list-style-type: none;

    font-size: 20px;
    line-height: 2;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-left: 80px;
}

.liste li {
    margin-bottom: 5px;
    /* Marge entre chaque élément de la liste */
}


.Decouvrir>p {
    color: #000000;
    text-align: left;
    font-size: small;
    margin-left: 10px;
    line-height: 1.5;
}

.titre {
    font-size: 40px;
    text-align: center;

    color: #000;
}

.equipe p {
    font-size: 20px;
    text-align: center;

    color: #000;
}

.texte {

    font-size: 20px;
    text-align: center;
    margin: 25px 80px 0px 80px;
    color: #000;
}

.Localisation {
    text-align: center;
    margin-top: 100px;
    color: #000000;
}

.Localisation>p {
    margin: 50px 0px 50px 0px;
    color: #000;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
    width: 350px;
    height: 350px;
}

.scrollable-content {
    max-height: 80vh;
    /* Hauteur maximale relative à la vue (viewport height, vh) */
    overflow-y: auto;
    /* Ajoute une barre de défilement en cas de dépassement de la hauteur maximale */
}

hr {
    margin: 0;
    display: block;
    height: 10px;
    border: 0;
    border-top: 12px solid #7BAAEA;
    padding: 0;
    color: #000000;
}

.btn {

    align-items: center;
    background-color: #7AAAEB;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    color: #f0f0f0;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 225px;
    margin: 25px 0px 25px 0px;

}

.btn:hover {
    background-color: #ED1E18;
}

.modal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;

}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
    background-color: #7AAAEB;
}




.menu {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    background: #90B6EF;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    color: #000;
    font-size: 24px;
}

.modal-content p {

    margin: 10px 0px 0px 0px;

}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn_menu {

    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    margin-right: 15px;

}

.menu-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    background-color: #90B6EF;
}

.menu-container.active {
    max-height: 230px;
    border-radius: 0px 0px 30px 30px;
    color: #000000;
}

.nav_list {
    list-style: none;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rdvcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;

}



.nav__item {
    margin: 10px 0;
    color: #000000;
}

.nav__link {
    color: #ffffff;
    /* Couleur du texte de la liste */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    /* Transition de la couleur du texte */
}

.nav__link:hover {
    color: #7AAAEB;
    /* Couleur du texte au survol */
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
    width: 350px;
    height: 350px;
}

.logofamille {
    animation: 1s ease-out 0s 1 slideInLeft;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-50%) translateY(100px);
    /* Déplace l'image vers le bas de 100px tout en la centrant horizontalement */
    width: 50%;
    position: relative;
    left: 50%;
}

#titrelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: black;

}

.main {
    display: flex;
    align-items: center;
    /* Alignez verticalement au centre */
    height: 500px;
    position: relative;
    background-image: url(/Couple-Famillewebsite/Image/aloevera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* Centre l'image horizontalement et verticalement */
    background-attachment: fixed;
    /* Fixe l'image en arrière-plan pour éviter le défilement */
    height: 400px;
    margin-bottom: 0;
    background-position-y: -350px;
}

.main>p {
    color: #f0f0f0;
    flex: 1;
    /* Faites en sorte que le paragraphe prenne tout l'espace disponible en largeur */
    margin: 0;
    /* Supprimez la marge par défaut du paragraphe */
    padding: 20px;
    /* Ajoutez un peu d'espace intérieur */
    background-color: rgba(0, 0, 0, 0.2);
    text-align: left;
    /* Alignez le texte à gauche */
}

.main::before {
    content: "";
    flex: 1;
    /* Ajoutez un espace vide à droite pour séparer le texte de l'image */
}

.main img {
    height: 100%;
    /* Ajustez la hauteur de l'image pour occuper toute la hauteur du conteneur */
    max-width: 100%;
    /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
}



@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(50);
    }
}


.Horaires {

    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.Horaires>p {
    margin-bottom: 20px;
}

.header .menu-container .nav_list {
    list-style: none;
    /* Pour supprimer les puces de la liste */
    padding: 0;
    /* Supprimer le remplissage par défaut de la liste */
}

.header .menu-container .nav_list .nav__item {
    border-bottom: 1px solid #ccc;
    /* Ajouter une bordure en bas de chaque élément de la liste */
    padding: 10px;
    /* Ajouter un remplissage pour espacer les éléments */
}

.header .menu-container .nav_list .nav__item:last-child {
    border-bottom: none;
    /* Ne pas ajouter de bordure en bas au dernier élément pour éviter un double trait */
}

/* Au survol, appliquer un fond gris */
.header .menu-container .nav_list .nav__item:hover {
    background-color: #f0f0f0;
    /* Couleur grise au survol */
}

.left-line {

    top: 0;
    margin-top: -10px;
    margin-left: 30px;
    height: 100%;
    border: none;
    border-left: 5px solid #ED1E18;
    /* Épaisseur et couleur de la ligne */
}

.container {
    display: flex;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 3;

}

.map {
    width: 100%;
}

/* .left-line {
    height: 100%;

    margin-top: -10px;
    margin-left: 50px;
    border-left: 5px solid #ED1E18;
} */
.container p {
    padding: 10px 10px 10px 10px;
    color: #ED1E18;
    font-size: 24px;
    margin: -10px 0px 20px 0px;
}


#texte {
    color: #000;
    text-align: center;
}

@media (max-width: 400px) {

    /* Par exemple, pour les écrans plus petits que 400px */
    .map {
        display: none;
    }

    .header-laptop {
        display: none;
    }

    .premiere {
        position: relative;
        background-image: url(/Couple-Famillewebsite/Image/couplevelo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* Centre l'image horizontalement et verticalement */
        background-attachment: fixed;
        /* Fixe l'image en arrière-plan pour éviter le défilement */
        height: 400px;
        margin-bottom: 0;
        background-position-y: -350px;
    }

    .apropo>p {
        font-size: 16px;
        text-align: center;
        margin: 25px 40px 0px 40px;
        color: #000;
    }

    .texte {
        font-size: 16px;
        text-align: center;
        margin: 25px 40px 0px 40px;
        color: #000;
    }
}

@media (min-width: 400px) {
    .text-overlay {
        font-size: large;
        margin: 550px 150px 0px 150px;
        height: auto;
        position: relative;
        z-index: 1;
        color: #fff;
        text-align: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* Par exemple, pour les écrans plus grand que 400px */
    .btn {

        border-radius: 100px;
    }

    .logofamille {
        width: 20%;
        height: 30%;
    }

    .premiere {
        height: 100%;
    }

    #Quisommesnous {
        margin-bottom: -100px;
    }

    .Accueil>p {
        position: relative;
        z-index: 1;
        margin-top: 62cpx;
        font-family: 'Sacramento', cursive;
        color: #ffffff;
        font-size: 64px;
    }

    .header {
        display: none;
    }

    header {
        position: static;
        background-color: #00000000;
    }

    .header-laptop {

        background-color: #00000000;
    }

    .header-laptop ul {
        background-color: #6D4850;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around;
    }

    .modal-container {
        display: flex;
        flex-flow: wrap;
        place-content: stretch space-around;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }



}

.container .right-column p img {

    width: 246px;
    /* Ajuste automatiquement la hauteur en fonction de la largeur */
}


.map1 {
    display: none;
}

.container .right-column p img {

    margin: 0px 30px 0px 0px;
    width: 46px;
    height: auto;
    /* Ajuste automatiquement la hauteur en fonction de la largeur */
}

.equipe {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Styles pour la div d'arrière-plan de la vidéo */
.equipe {
    position: relative;
    height: 100vh;
    /* Assurez-vous que la div équipe prend 100% de la hauteur de la vue (viewport height) */
    overflow: hidden;
    /* Cache le débordement si nécessaire */
}


/* Styles pour la vidéo */
.video {
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    /* Ajustez l'opacité selon vos préférences pour la lisibilité */
}

.text-overlay p {

    display: flex;
    justify-content: flex-start;

}

.text-overlay p ul {

    display: flex;
    justify-content: flex-start;

}

/* Styles pour le texte superposé */
.text-overlay {
    font-size: 22px;
    margin-top: 200px;

    height: auto;
    position: relative;
    /* Assurez-vous que le texte est positionné par rapport à la div d'équipe */
    z-index: 1;
    /* Placez le texte au-dessus de la vidéo */
    color: #fff;
    /* Couleur du texte */
    text-align: center;
    padding: 20px;
    /* Espacement intérieur pour le texte */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent pour améliorer la lisibilité */
}

.texte {
    max-width: 100%;
    /* Ajustez la largeur du texte selon vos préférences */
}